@font-face {
  font-family: "NexaScript";
  src: url("../fonts/nexa/NexaScriptBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/nexa/NexaScriptBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/nexa/NexaScriptBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/nexa/NexaScriptBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/nexa/NexaScriptBold.woff") format("woff"); /* Modern Browsers */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/OswaldBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/oswald/OswaldBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/oswald/OswaldBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/oswald/OswaldBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/oswald/OswaldBold.woff") format("woff"); /* Modern Browsers */
  font-weight: bold;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald';
	font-weight: bold;
}

body {
	color: #fff3e6;
	min-width: 300px;
	height: 100vh;
	overflow: auto;
	background: url("../img/bg.jpg") no-repeat center top fixed;
        background-size: cover;
	background-attachment: fixed;
	background-color: #2c2929;
}

a:hover {
	color: #c96915;
	text-decoration: none;
}

a {
	color: #ff983b;
	-webkit-transition: .5s;
	transition: .5s;
}

.gray {
	background-color: #282525;
}

.bg-gray {
	background-color: #2c2929;
}

.navbar-dark .navbar-nav .nav-link {
	color: #908882;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
	color: #c0b8b8;
}

.navbar-brand a:hover {
	opacity: .7;
}

/* Header */
.header {
	font-size: 0.875rem;
	padding: 10px 0;
	color: #908882;
}

.phones a {
	color: #908882;
}

.phones a:hover {
	color: #c96915;
}

.menu .nav-item {
	padding-left: 5px;
	padding-right: 5px; 
}

.top-content {
	position: relative;
	overflow: hidden;
}

.slogon {
	top: 20%;
	font-size: 3.125rem;
	font-family: "NexaScript";
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	color: #ded3c8;
	padding: 30px 45px;
	left: 0;
	background: -webkit-gradient(linear,  left top, right top,  from(rgba(40,37,37,0.4)),color-stop(1%, rgba(40,37,37,0.4)),color-stop(90%, rgba(40,37,37,0.4)),color-stop(99%, rgba(40,37,37,0.1)),to(rgba(40,37,37,0.07)));
	background: linear-gradient(to right,  rgba(40,37,37,0.4) 0%,rgba(40,37,37,0.4) 1%,rgba(40,37,37,0.4) 90%,rgba(40,37,37,0.1) 99%,rgba(40,37,37,0.07) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66282525', endColorstr='#12282525',GradientType=1 );
}

.time {
	font-size: 0.875rem;
	padding: 10px 0;
	color: #908882;
}

.bunner {
	position: relative;
	overflow: hidden;
}

.bunner:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background: url("../img/slide.jpg") no-repeat center top fixed;
        background-size: cover;
	background-attachment: fixed;
	background-color: #2c2929;
}

/* Main */
.desc {
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;
}

.desc .title h2 {
	font-size: 3.75rem;
	line-height: 4.5rem;
	padding-bottom: 1.5rem;
}

.desc .title h2 strong {
	font-size: 4.5rem;
	text-transform: uppercase;
	display: inline-block;
	padding-top: 1rem;
}

.desc .title h3 {
	font-size: 3rem;
	line-height: 3.5rem;
	padding-bottom: 1rem;
}

.desc .title h3 strong {
	text-transform: uppercase;
	display: inline-block;
	padding-top: 1rem;
}

.desc .text {
	font-size: 1.5rem;
}

.desc .phone {
	font-family: 'Oswald';
	font-weight: bold;
	font-size: 1.5rem;
}

.cards {
	padding-top: 1.5rem;
}

.cards .card-link {
	color: #ded3c8;
	font-family: "NexaScript";
	font-weight: bold;
	font-size: 2.375rem;
	line-height: 5rem;
}

.cards .card-link:hover {
	color: #c96915;
}

.cards a.card:hover {
	opacity: .7;
}

.sale {
	background: url("../img/sale.jpg") no-repeat center center;
	background-size: cover;
	color: #a60d0d;
	font-size: 2.25rem;
	text-shadow: 0px 0px 7px rgba(255, 255, 255, .35);
}

.sale > .desc {
	background-color: rgba(255, 255, 255, .5);
}

.sale .percent-sale {
	font-family: 'Oswald';
	font-weight: bold;
}

/* Footer */

.cont-footer {
	font-size: .8em;
	padding-top: 1rem;
}

.cont-footer ul {
	margin: 0;
	padding: 0;
	padding-bottom: 1rem;
}

.cont-footer ul li {
	list-style-type: none;
}

.copyright {
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.social {
	font-size: 1.5rem;
}

.social .fa-vk {
	color: #4A76A8;
}

.social .fa-odnoklassniki-square {
	color: #EE8208;
}

.social .fa-bootstrap {
	color: #003580;
}

.h-border {
	border-bottom: solid 2px #333333;
	display: inline-block;
}

.img-responsive {
  display: block;
  max-width: 100%;
	height: auto;
}
	
.img-responsive.img-width {
	width: 100%;
}

.text-grey {
	color: #877f79;
}

.text-lightgrey {
	color: #fff3e6;
}

@media only screen and (max-width: 850px) {
  .slogon {
    font-size: 2.5rem;
	}
	
	.desc .title h2 {
		font-size: 3rem;
		line-height: 3.5rem;
    padding-bottom: 1rem;
	}

	.desc .title h2 strong {
    font-size: 3rem;
    padding-top: 1rem;
	}
}

@media only screen and (max-width: 580px) {
	footer {
		text-align: center;
	}
}

@media only screen and (max-width: 420px) {
  .slogon {
		font-size: 2.0rem;
		text-align: center;
	}
	
	.desc .title h2 {
		font-size: 2.5rem;
		line-height: 2.5rem;
	}

	.desc .title h2 strong {
    font-size: 2.5rem;
	}

	.desc .title h3 {
		font-size: 2.5rem;
		line-height: 2.5rem;
	}

	.desc .title h3 strong {
    font-size: 2.5rem;
	}
}
